h1{
	text-align: center;
	color: blue;
	background: grey;
}
h2{
	text-align: center;
	text-transform: uppercase;
}
p{
	font-size: 16;
}
table {
  font-family: Times New Roman, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 18 ;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: red;
}
label{
  text-align: center;
}

body{
      background-image: url("../images/ghana2.png");
}

.calculate{
  background-color: grey;
}

label{
  font-size:20;
}
